{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>FACE VNUA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <title>404 not founded</title>
  <style>
    
.page_404{ 
    padding:40px 0; background:#fff;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
height: 400px;
background-position: center;
}


.four_zero_four_bg h1{
font-size:80px;
}

.four_zero_four_bg h3{
         font-size:80px;
         }
         
         .link_404{			 
color: #fff!important;
padding: 10px 20px;
background: #39ac31;
margin: 20px 0;
display: inline-block;}
.contant_box_404{ margin-top:-50px;}
  </style>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/vnua.png' %}">
</head>
<body>

    <section class="page_404">
        <div class="container">
            <div class="row"> 
            <div class="col-sm-12 ">
            <div class="col-sm-10 m-auto col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
              <h1 class="text-center ">404</h1>
            </div>
            <div class="contant_box_404">
            <h3 class="h2">
            Look like you're lost
            </h3>
            <p>the page you are looking for not avaible!</p>
            
            <a href="/admin" class="link_404">Go to Home</a>
          </div>
            </div>
            </div>
            </div>
        </div>
    </section>

</body>
</html>


    