{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FACE VNUA - Đổi mật khẩu</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/vnua.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{{user.username}} muốn đổi mật khẩu?</h1>
                            </div>
                            <form  autocomplete="on" class="user" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="password" name="old_password" class="form-control form-control-user" id="oldPassword"
                                        placeholder="Mật khẩu cũ" required>
                                        {% if error %}<span style="font-size:12px; padding: 16px 0px 0px 16px;" class="text-danger">{{error}}</span>{% endif %}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="new_password" class="form-control form-control-user"
                                            id="newpassword" placeholder="Mật khẩu mới" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="confirm_password" class="form-control form-control-user"
                                            id="repeatnewpassword" placeholder="Nhập lại mật khẩu" required>

                                            {% if error1 %}<span style="font-size:12px; padding: 16px 0px 0px 16px;" class="text-danger">{{error1}}</span>{% endif %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Đổi mật khẩu
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{%url 'forgot_password'%}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center">
          Mật khẩu thay đổi thành công! <br>
            Vui lòng đăng nhập lại! <br>
            Bạn sẽ được chuyển đến trang đăng nhập sau <span id="countdown">8</span> giây.
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function(){
        var modal = $('#myModal');
        if({{status}} == 200){
            modal.modal('show');
            var timeleft = 8;
            var downloadTimer = setInterval(function(){
            timeleft--;
            document.getElementById("countdown").textContent = timeleft;
            if(timeleft <= 0)
                window.location.href = "{%url 'login'%}";
            },1000);
        }
    });

  </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

</body>

</html>