{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
  <title>FACE Admin - Giảng viên</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock css %}

{% block main-content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Giảng viên</h1>
  </div>

  <div class="searchBox">
    <form action="" method="POST" id="form-search-pa">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" name="teacher_code" placeholder="Mã giảng viên" value="{{ request.POST.teacher_code }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="full_name" placeholder="Họ tên" value="{{ request.POST.full_name }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="faculty" placeholder="Khoa" value="{{ request.POST.faculty }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="department" placeholder="Bộ môn" value="{{ request.POST.department }}">
        </div>
        <input type="hidden" name="page" id="page_input" value="{{ teacher.number }}">

      </div>
      <div class="row">
        <div class="col-md-12 box-sbm">
          <button id="timKiem" type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <table class="table table-bordered" id="tablesv">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Mã giảng viên</th>
            <th>Họ tên</th>
            <th>Khoa</th>
            <th>Bộ môn</th>
            <th>SĐT</th>
            <th>
              <span>Action</span>
              <a href="{% url 'teacher_create' %}" id="addSt" class="btn btn-circle"> <i class="fas fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
         {% for teacher in teachers %}
          <tr>
            <td>
              <div class="face-student" style="background-image: url({% if teacher.avatar %}'{{teacher.imageUrl}}'{% else %}'/images/avatar_default/avatar.jpg'{% endif %})"></div>
            </td>
            <td>{{teacher.teacher_code}}</td>
            <td>{{teacher.full_name}}</td>
            <td>{{teacher.faculty}}</td>
            <td>{{teacher.department}}</td>
            <td>{{teacher.phone}}</td>
            <td>
              <a href="{%url 'teacher_update' teacher.teacher_code %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Chi tiết</span>
              </a>
              <a href="{%url 'teacher_update' teacher.teacher_code %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text">Sửa</span>
              </a>
              <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-icon-split action-delete" data="{{teacher.teacher_code}}">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Xóa</span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="pagination">
    {% if teachers.has_previous %}
    <a page="{{ teachers.previous_page_number }}" class="previous_next">&laquo; Trang trước</a>
    {% endif %}

    <span style="margin: 0px 15px;" class="current-page">{{ teachers.number }}</span>

    {% if teachers.has_next %}
    <a page="{{ teachers.next_page_number }}" class="previous_next">Trang sau &raquo;</a>
    {% endif %}
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa dữ liệu này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        <a href="" type="button" class="btn btn-danger" id="deleteBtn">Đồng ý</a>
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}
{% block js %}
<script>
  $(document).ready(function() {
    $(".previous_next").click(function() {
      var page = $(this).attr("page");
      $("#page_input").val(page);
      var form = $("#form-search-pa");
      form.submit();
    });

    var teacher_code = '';
    $(".action-delete").click(function () {
      teacher_code = $(this).attr('data');
        if(teacher_code != ''){
            $("#deleteBtn").attr('href', 'teachers/' + teacher_code + '/delete');
        }
    });

  });
</script>
{% endblock js %}
  
