{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Giảng viên</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/student_update.css' %}">
{% endblock css %}

{% block main-content %}

<div class="info-students row">
    <div class="col-10 m-auto">
        <form method="post" enctype="multipart/form-data" class="fm">
            {% csrf_token %}
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                
                <div class="avatar-container">
                  <img id="avatar-img" class="my-avatar" src="{% if teacher.avatar %}{{ teacher.avatar }} {% else %} {%static 'imgs/avatar.jpg'%} {% endif %}" alt="Avatar">
                  <input type="file" name="avatar" id="avatar" accept="image/*">
                </div>                
                <label for="avatar" class="change-avatar-btn">Ảnh đại diện</label>
            </div>
            <!-- Input field for student code -->
            <div class="form-group row">
              <label for="teacher_code" class="col-3">Mã giảng viên:</label>
              <input class="col-9" type="text" name="teacher_code" id="teacher_code" value="{% if teacher.teacher_code %}{{ teacher.teacher_code }}{% endif %}" required>
            </div>
            {% if errorStudentCode %}
              <div class="d-flex justify-content-end">
                <span class="text-danger" role="alert">
                  {{ errorStudentCode }}
                </span>
              </div>
            {% endif %}
          
            <!-- Input field for full name -->
            <div class="form-group row">
              <label for="full_name" class="col-3">Họ tên:</label>
              <input class="col-9" type="text" name="full_name" id="full_name" value="{% if teacher.full_name %}{{ teacher.full_name }}{% endif %}" required>
            </div>
          
            <!-- Input field for class name -->
            <div class="form-group row">
              <label for="faculty" class="col-3">Khoa:</label>
              <input class="col-9" type="text" name="faculty" id="faculty" value="{% if teacher.faculty %}{{ teacher.faculty }}{% endif %}" required>
            </div>

            <div class="form-group row">
              <label for="department" class="col-3">Bộ môn:</label>
              <input class="col-9" type="text" name="department" id="department" value="{% if teacher.department %}{{ teacher.department }}{% endif %}" required>
            </div>
          
            <!-- Input field for birth date -->
            <div class="form-group row">
              <label for="birth_date" class="col-3">Ngày sinh:</label>
              <input class="col-9" type="date" name="birth_date" id="birth_date" value="{% if teacher.birth_date %}{{ teacher.birth_date|date:'Y-m-d' }}{% endif %}" required>
            </div>
          
            <!-- Input field for phone -->  
            <div class="form-group row">
              <label for="phone" class="col-3">SĐT:</label>
              <input class="col-9" maxlength="10" type="text" name="phone" id="phone" value="{% if teacher.phone %}{{ teacher.phone }}{% endif %}" required>
            </div>
          
            <!-- Input field for email -->
            <div class="form-group row">
              <label for="email" class="col-3">Email:</label>
              <input class="col-9" type="email" name="email" id="email" value="{% if teacher.email %}{{ teacher.email }}{% endif %}" required>
            </div>
          
            <!-- Input field for address -->
            <div class="form-group row">
              <label for="address" class="col-3">Địa chỉ:</label>
              <input class="col-9" type="text" name="address" id="address" value="{% if teacher.address %}{{ teacher.address }}{% endif %}" required>
            </div>
        
            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
    
</div>


{% endblock main-content %}

{% block js %}
  <script>
    document.getElementById("avatar").addEventListener("change", function() {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById("avatar-img").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
      });

  </script>
{% endblock js %}
    

