{% extends 'widgets/base.html' %}
{% load static %}
{% block title %}
  <title>FACE Admin - Dashboard</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock css %}


{% block main-content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <button data-toggle="modal" data-target="#recogizeFaceModal" type="button" class="btn btn-success h3 mb-0 text-gray-800 d-none">Dashboard </button>

      {% if user.is_superuser %}<a data-toggle="modal" data-target="#trainModals" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Trainning data</a>{% endif %}
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Sinh viên</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalStudent}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Lớp học</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalClass}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tỷ lệ văng mặt
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{percentAbsent}}</div>
                              </div>
                              <div class="col">
                                  <div class="progress progress-sm mr-2">
                                      <div class="progress-bar bg-info" role="progressbar"
                                          style="width: {{percentAbsent}}%" aria-valuenow="50" aria-valuemin="0"
                                          aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Sinh viên thiếu ảnh</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalStudentNoImage}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Danh sách sinh viên cần bổ sung ảnh</h6>
                  {% comment %} <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div> {% endcomment %}
              </div>
              <!-- Card Body -->
              <div class="card-body" style="overflow-x: auto;">
                  {% comment %} <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                  </div> {% endcomment %}
                  <table class="table table-bordered" id="tablesv">
                    <thead>
                      <tr>
                        <th>Avatar</th>
                        <th>Mã sinh viên</th>
                        <th>Họ tên</th>
                        <th>Lớp</th>
                        <th>Ngày sinh</th>
                        <th>SĐT</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for student in student_mis_img %}
                      <tr onclick="rederect({%url 'student_detail' student.student_code %})">
                        <td>
                          <div class="face-student" style="background-image: url({% if student.avatar %}'{{student.imageUrl}}'{% else %}'/images/avatar_default/avatar.jpg'{% endif %})"></div>
                        </td>
                        <td>{{student.student_code}}</td>
                        <td>{{student.full_name}}</td>
                        <td>{{student.class_name}}</td>
                        <td>{{student.birth_date | date:'d/m/Y'}}</td>
                        <td>{{student.phone}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Lịch sử training data</h6>
                  {% comment %} <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div> {% endcomment %}
              </div>
              <!-- Card Body -->
              <div class="card-body">
                  {% comment %} <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div> {% endcomment %}
                  <table class="table table-bordered" id="tablesv">
                    <thead>
                      <tr>
                        <th>Ngày</th>
                        <th>Thời gian</th>
                        <th>Người tạo</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>29/05/2023</td>
                        <td>5 phút</td>
                        <td>superadmin</td>
                      </tr>
                      <tr>
                        <td>28/05/2023</td>
                        <td>5 phút</td>
                        <td>superadmin</td>
                      </tr>
                      <tr>
                        <td>27/05/2023</td>
                        <td>5 phút</td>
                        <td>superadmin</td>
                      </tr>

                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="trainModals" tabindex="-1" role="dialog" aria-labelledby="trainModalsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="trainModalsLabel">Training data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có muốn training lại toàn bộ dữ liệu sinh viên
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
          <button type="button" class="btn btn-danger" id="trainSbm">Đồng ý</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalloading" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center flex-column" role="document">
        <svg class="rf-spinner__spinner" width="100%" height="100%" viewBox="0 0 200 200" 
        preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <linearGradient id="spinner-1683742502510" x1="0%" y1="0%" x2="65%" y2="0%">
              <stop offset="0%" class="Spinner-blue-wL0"></stop>
              <stop offset="100%" class="Spinner-blue-wL0" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
          <circle cx="100" cy="100" r="90" fill="transparent" stroke="url(#spinner-1683742502510)" stroke-width="20"></circle>
        </svg>
    </div>
  </div>

  <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notification" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notification">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p id="messageNoti">Đã trainning xong</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="recogizeFaceModal" tabindex="-1" role="dialog" aria-labelledby="recogizeFaceLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recogizeFaceLable">Nhận diện thông tin sinh viên qua ảnh</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'face' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Chọn ảnh</label>
            <input type="file" id="imageRecogizeFace" name="image" accept=".jpg,.png" />
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="test">API</button>
        </div>
      </div>
    </div>
  </div>

</div>{% endblock main-content %}

{% block js %}
{% comment %} <script src="{%static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{%static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{%static 'js/demo/chart-pie-demo.js' %}"></script> {% endcomment %}
<script>

    $(document).ready(function () {
        // ajax post
        $("#trainSbm").click(function () {
            $('#modalloading').modal('show');
            $("#trainModals").modal('hide');
            $.ajax({
                url: '/admin/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data);
                    $('#modalloading').modal('hide');
                    $('#notification').modal('show');
                },
                error: function (data) {
                    $('#modalloading').modal('hide');
                    $('#notification').modal('show');
                }
            });
        });

        $("#test").click(function () {
            var formData = new FormData();
            formData.set('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.set('image', $('#imageRecogizeFace')[0].files[0]);
            $.ajax({
                url: '{% url "recognize_api" %}',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    console.log("success")
                    console.log(data);
                },
                error: function (data) {
                    console.log("error")
                    console.log(data);
                }
            }); 
        });
        

    });
    function rederect(url){
        window.location = url;
    }
    
</script>

{% endblock js %}