{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
  <title>FACE Admin - Student</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock css %}

{% block main-content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Sinh viên</h1>
      <a data-toggle="modal" data-target="#importModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-upload fa-sm text-white-50"></i> Upload danh sách sinh viên</a>
  </div>

  <div class="searchBox">
    <form action="" method="POST" id="form-search-pa">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" name="student_code" placeholder="Mã sinh viên" value="{{ request.POST.student_code }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="full_name" placeholder="Họ tên" value="{{ request.POST.full_name }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="class_name" placeholder="Lớp" value="{{ request.POST.class_name }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="phone" placeholder="SĐT" value="{{ request.POST.phone }}">
        </div>
        <input type="hidden" name="page" id="page_input" value="{{ students.number }}">

      </div>
      <div class="row">
        <div class="col-md-12 box-sbm">
          <button id="timKiem" type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <table class="table table-bordered" id="tablesv">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Lớp</th>
            <th>Ngày sinh</th>
            <th>SĐT</th>
            <th>
              <span>Action</span>
              <a href="{% url 'student_create' %}" id="addSt" class="btn btn-circle"> <i class="fas fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
         {% for student in students %}
          <tr>
            <td>
              <div class="face-student" style="background-image: url({% if student.avatar %}'{{student.imageUrl}}'{% else %}'/images/avatar_default/avatar.jpg'{% endif %})"></div>
            </td>
            <td>{{student.student_code}}</td>
            <td>{{student.full_name}}</td>
            <td>{{student.class_name}}</td>
            <td>{{student.birth_date | date:'d-m-Y'}}</td>
            <td>{{student.phone}}</td>
            <td>
              <a href="{%url 'student_detail' student.student_code %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Chi tiết</span>
              </a>
              <a href="{% url 'student_update' student.student_code %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text">Sửa</span>
              </a>
              <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-icon-split action-delete" data="{{student.student_code}}">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Xóa</span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="pagination">
    {% if students.has_previous %}
    <a page="{{ students.previous_page_number }}" class="previous_next">&laquo; Trang trước</a>
    {% endif %}

    <span style="margin: 0px 15px;" class="current-page">{{ students.number }}</span>

    {% if students.has_next %}
    <a page="{{ students.next_page_number }}" class="previous_next">Trang sau &raquo;</a>
    {% endif %}
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa dữ liệu này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        <a href="" type="button" class="btn btn-danger" id="deleteBtn">Đồng ý</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Import dữ liệu sinh viên</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nếu chưa có mẫu template hãy chọn download template
      </div>
      <div class="modal-footer">
        <a href="/api/excel" type="button" class="btn btn-primary">Download template</a>
        <form method="post" enctype="multipart/form-data" action="{%url 'student_multiple_create'%}">
          {% csrf_token %}
          <input type="file" name="excel_file" id="excel_file" required>
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}
{% block js %}
<script src="{%static 'js/student.js'%}"></script>
<script>
  $(document).ready(function() {
    $(".previous_next").click(function() {
      var page = $(this).attr("page");
      $("#page_input").val(page);
      var form = $("#form-search-pa");
      form.submit();
    });

  });
</script>
{% endblock js %}
  
