{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
  <title>FACE Admin - Student images</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/student_image.css' %}">
{% endblock css %}

{% block main-content %}
<div class="container-fluid">
  <!-- Page Heading -->

  <button type="button" id="btn-showmodal-insert-img" class="btn btn-primary" data-toggle="modal" data-target="#modal-input-multiple">
    Thêm ảnh
  </button>

  <div class="demo-gallery">
    <ul id="lightgallery" class="list-unstyled row">
        {% for image in studentImages %}
        <li class="col-3 item-img" data-responsive="{{image.images.url}} 375, {{image.images.url}} 480, {{image.images.url}} 800" data-src="{{image.images.url}}" data-sub-html="<h4>{{image.student_code.student_code}} - {{image.student_code}}</h4><p>{{image.images.url}}</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
            <a>
                <img class="img-responsive" src="{{image.images.url}}" alt="{{image.student_code.full_name}}Nhận diện khuôn mặt VNUA">
            </a>
            <form action="{%url 'student_images_delete' image.student_code.student_code%}" method="POST" class="form-delete-imgs">
              {% csrf_token %}
                <input type="text" name="auto_id" value="{{ image.auto_id }}" hidden required>
                <button type="submit" class="form-group btn btn-danger btn-icon-split action-delete">
                    <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                    </span>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

{% comment %} Modal insert multiple imgs {% endcomment %}
<div class="modal"  id="modal-input-multiple">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm ảnh sinh viên</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="list-menu">
            <li class="active"><a data-toggle="tab" href="#home" class="active">Ảnh</a></li>
            <li><a data-toggle="tab" href="#video">Video</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active show">
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="images">Chọn các bức ảnh:</label>
                <input style="height: auto" id="input-imgs-upload" type="file" class="form-control" accept=".png,.jpg" name="images" multiple required>
                </div>
                <button type="submit" class="btn btn-primary">Tải ảnh lên</button>
              </form>
            </div>
            <div id="video" class="tab-pane fade">
              <form action="{%url 'student_video' student_code %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="video">Chọn video:</label>
                <input style="height: auto" id="input-imgs-upload" type="file" class="form-control" accept=".mp4" name="video" required>
                </div>
                <button type="submit" class="btn btn-primary">Tải video lên</button>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
    
</div>

{% if errors %}
<div class="modal" id="modals-log-error">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <ul>
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>
{% endif %}

{% endblock main-content %}
{% block js %}
    <script>
        $(document).ready(function(){
            const input = $("#input-imgs-upload");
            input.on('change', function(){
                const files = input[0].files;
                console.log("files: ", files.length);
                if(files.length > 100){
                    alert("Chỉ được chọn tối đa 100 ảnh");
                    input.val("");
                }
            });

            const modal = $("#modals-log-error");
            if (modal != null){
                modal.modal('show');
            }
            

        });
    </script>
{% endblock js %}

  
