{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
  <title>FACE Admin - Class</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock css %}

{% block main-content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Danh sách lớp học</h1>
  </div>

  <div class="searchBox">
    <form action="" method="GET">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" name="class_code" placeholder="Mã lớp" value="{{ request.GET.class_code }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="class_name" placeholder="Tên lớp" value="{{ request.GET.class_name }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="hoc_ky" placeholder="Học kỳ" value="{{ request.GET.hoc_ky }}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="ma_hoc_phan" placeholder="Mã học phần" value="{{ request.GET.ma_hoc_phan }}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 box-sbm">
          <button id="timKiem" type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <table class="table table-bordered" id="tablesv">
        <thead>
          <tr>
            <th>Mã lớp</th>
            <th>Mã học phần</th>
            <th>Tên lớp</th>
            <th>Học kỳ</th>
            <th>Năm học</th>
            <th class="d-flex align-items-center justify-content-between">
              <span class="ml-3">Action</span>
              <a href="{% url 'classes_create' %}" id="addSt" class="btn btn-circle mr-3"> <i class="fas fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
         {% for class in subjectClass %}
          <tr>
            <td>{{class.class_code}}</td>
            <td>{{class.ma_hoc_phan}}</td>
            <td>{{class.class_name}}</td>
            <td>{{class.hoc_ky}}</td>
            <td>{{class.nam_hoc}}</td>
            <td>
              <a href="{%url 'classes_details' class.class_code %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Chi tiết</span>
              </a>
              <a href="{%url 'classes_update' class.class_code %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text">Sửa</span>
              </a>
              <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-icon-split action-delete" data="{{class.class_code}}">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Xóa</span>
              </a>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div class="pagination">
    {% if subjectClass.has_previous %}
    <a href="?class_code={{ request.GET.class_code }}&class_name={{ request.GET.class_name }}&hoc_ky={{ request.GET.hoc_ky }}&nam_hoc={{ request.GET.nam_hoc }}&page={{ subjectClass.previous_page_number }}">&laquo; Trang trước</a>
    {% endif %}

    <span style="margin: 0px 15px;" class="current-page">{{ subjectClass.number }}</span>

    {% if subjectClass.has_next %}
    <a href="?class_code={{ request.GET.class_code }}&class_name={{ request.GET.class_name }}&hoc_ky={{ request.GET.hoc_ky }}&nam_hoc={{ request.GET.nam_hoc }}&page={{ subjectClass.next_page_number }}">Trang sau &raquo;</a>
    {% endif %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa dữ liệu này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        <a type="button" class="btn btn-danger" id="deleteBtn">Đồng ý</a>
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}
{% block js %}
<script>

    var class_code = '';
    $(".action-delete").click(function () {
        class_code = $(this).attr('data');
        $("#deleteBtn").click(function () {
            $.ajax({
                url: "{%url 'classes_delete' %}",
                type: "POST",
                data: {
                    class_code: class_code,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.status == 200) {
                        window.location.href = "{% url 'classes' %}";
                    }
                }
            });
        });
    });



</script>
{% endblock js %}
  
