{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin lớp học</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/student_update.css' %}">
{% endblock css %}

{% block main-content %}

<div class="info-students row">
    <div class="col-10 m-auto">
        <form method="post" enctype="multipart/form-data" style="padding: 50px;" class="fm">
            {% csrf_token %}
            <!-- Input field for student code -->
            <div class="form-group row">
              <label for="class_code" class="col-3">Mã Lớp học:</label>
              <input class="col-9" type="text" name="class_code" id="class_code" value="{{ subjectClass.class_code }}" required>
            </div>
            {% if error %}
              <div class="d-flex justify-content-end">
                <span class="text-danger" role="alert">
                  {{ error }}
                </span>
              </div>
            {% endif %}
            <div class="form-group row">
              <label for="class_code" class="col-3">Mã học phần:</label>
              <input class="col-9" type="text" name="ma_hoc_phan" id="ma_hoc_phan" value="{{ subjectClass.ma_hoc_phan }}" required>
            </div>
            <!-- Input field for full name -->
            <div class="form-group row">
              <label for="class_name" class="col-3">Tên lớp:</label>
              <input class="col-9" type="text" name="class_name" id="class_name" value="{{ subjectClass.class_name }}" required>
            </div>
          
            <!-- Input field for class name -->
            <div class="form-group row">
              <label for="hoc_ky" class="col-3">Học kỳ:</label>
              <input class="col-9" type="text" name="hoc_ky" id="class_hoc_kyname" value="{{ subjectClass.hoc_ky }}" required>
            </div>
          
            <!-- Input field for birth date -->
            <div class="form-group row">
              <label for="nam_hoc" class="col-3">Năm học:</label>
              <input class="col-9" type="text" name="nam_hoc" id="nam_hoc" value="{{ subjectClass.nam_hoc }}" required>
            </div>
            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    
</div>


{% endblock main-content %}

{% block js %}
  <script>
    

  </script>
{% endblock js %}
    

