{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin lớp học</title>
{% endblock title %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/class_details.css' %}">
{% endblock css %}

{% block main-content %}

<div class="row">
  <div class="col-11 m-auto box-details">
    <h3 class="text-center color-title">Thông tin lớp học</h3>
    <div class="row" id="box-info">
        <div class="col-4">
            <label for="class_name">Tên lớp học</label>
            <input readonly type="text" name="class_name" id="class_name" class="form-control" value="{{subjectClass.class_name}}">
        </div>
        <div class="col-4">
            <label for="class_code">Mã lớp học</label>
            <input readonly type="text" name="class_code" id="class_code" class="form-control" value="{{subjectClass.class_code}}">
        </div>
        <div class="col-4">
            <label for="ma_hoc_phan">Mã học phần</label>
            <input readonly type="text" name="ma_hoc_phan" id="ma_hoc_phan" class="form-control" value="{{subjectClass.ma_hoc_phan}}">
        </div>
        <div class="col-4">
            <label for="hoc_ky">Học kỳ</label>
            <input readonly type="text" name="hoc_ky" id="hoc_ky" class="form-control" value="{{subjectClass.hoc_ky}}">
        </div>
        <div class="col-4">
          <label for="nam_hoc">Năm học</label>
          <input readonly type="text" name="nam_hoc" id="nam_hoc" class="form-control" value="{{subjectClass.nam_hoc}}">
        </div>
        <div class="col-4 d-flex flex-column-reverse">
          <a href="{%url 'hoc_tap_va_diem_danh' subjectClass.class_code %}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Học tập và điểm danh
          </a>
        </div>
    </div>
  </div>
  <div class="col-11 ctn-sv-fm">
    <div class="row">
      <div class="col-12 col-md-6 sv-in">
        <p class="text-center color-title title">Danh sách sinh viên trong lớp</p>
        <input type="text" name="student_code" id="search_sv_in_class" class="form-control" placeholder="Nhập mã sinh viên">
        <div class="lst-student-in-class">
          
        </div>
      </div>
      <div class="col-12 col-md-6 sv-not-in">
        <ul class="nav nav-tabs">
          <li><a class="active" data-toggle="tab" href="#addsv">Thêm sinh viên</a></li>
          <li><a data-toggle="tab" href="#importsv">Import danh sách </a></li>
        </ul>
        <div class="tab-content">
          <div id="addsv" class="tab-pane fade in active show">
            <input type="text" name="student_code" id="search" class="form-control" placeholder="Nhập mã sinh viên">
            <div class="lst-student"></div>
          </div>
          <div id="importsv" class="tab-pane fade">
            

              <input type="file" id="input-excel-sv" name="file" accept=".xlsx, .xls" class="form-control" required>
              <button id="submit-import-sv" class="btn btn-primary">Import</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="error-import-sv">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body text-danger">
        {% if error %}{{error}}{% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-primary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="import-st-to-class-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body text-danger">
        Tác vụ đã thực thi xong. <br>
        Nhấn vào nút bên dưới để tải file kết quả về máy. <br>
        <a id="download-response" href="" class="">Tải file kết quả</a>
      </div>
          
    </div>
  </div>
</div>

{% endblock main-content %}

{% block js %}

  <script>
    function searchSV(data){
      var html ="";
      var xhr = $.ajax({
        url:"/api/student",
        method:"POST",
        data:data,
        success:function(response){
          if (response.code == 200){
              result = response.result;
              for(var i = 0; i < result.length; i++){
                var path = "/images/" + result[i].avatar.replace(/\\/g, "/");
                html += `<div class="student-item row">
                  <div class="avatar-item col-2" style="background-image:url('${path}')"></div>
                  <div class="hoten-item col-4"><a href="/admin/students/${result[i].student_code}">${result[i].full_name}</a></div>
                  <div class="msv-item col-2">${result[i].student_code}</div>
                  <div class="class-item col-3">${result[i].class_name}</div>
                  <button type="button" onClick="addStudent(${result[i].auto_id})" class="btn btn-circle btn-info col-1 cvx">
                    <i class="fa-solid fa-plus fa-sm" style="color: #FFFFFF;"></i>
                  </button>
                </div>`;
              }
              $('.lst-student').html(html);
          }
        }, error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        }
      })
    }

    function studentInClass(data){
      var html ="";
      var xhr = $.ajax({
        url:"/api/studentInClass",
        method:"POST",
        data:data,
        success:function(response){
          if (response.code == 200){
              result = response.result;
              for(var i = 0; i < result.length; i++){
                var path = "/images/" + result[i].avatar.replace(/\\/g, "/");
                html += `<div class="student-item row">
                  <div class="avatar-item col-2" style="background-image:url('${path}')"></div>
                  <div class="hoten-item col-4"><a href="/admin/students/${result[i].student_code}">${result[i].full_name}</a></div>
                  <div class="msv-item col-2">${result[i].student_code}</div>
                  <div class="class-item col-3">${result[i].class_name}</div>
                  <button type="button" onClick="deleteStudent(${result[i].auto_id},{{subjectClass.auto_id}})" class="btn btn-circle btn-danger col-1 cvx">
                    <i class="fa-solid fa-minus fa-sm" style="color: #FFFFFF;"></i>
                  </button>
                </div>`;
              }
              $('.lst-student-in-class').html(html);
          }
        }, error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        }
      })
    }

    function addStudent(student_code){
      var data = {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "class_code": "{{subjectClass.auto_id}}",
        "student_code": student_code
      };
      var xhr = $.ajax({
        url:"/api/addStudentToClass",
        method:"POST",
        data:data,
        success:function(response){
          if (response.code == 200){
            viewStudentInClass();
            viewStudentNotInClass();
            
          }
        }, error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        }
      })
    }

    function deleteStudent(idsv,idclass){
      var data = {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "class_code": idclass,
        "student_code": idsv
      };
      var xhr = $.ajax({
        url:"/api/deleteStudentFromClass",
        method:"POST",
        data:data,
        success:function(response){
          if (response.code == 200){
            viewStudentInClass();
            viewStudentNotInClass();
            
          }
        }, error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        }
      })
    }

    function viewStudentInClass(){
      var query = $('#search_sv_in_class').val();
            var data = {
            "student_code":query,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "class_code": "{{subjectClass.auto_id}}"};
            studentInClass(data);
    }

    function viewStudentNotInClass(){
      var query = $('#search').val();
        var data = {
          "student_code":query,
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "class_code": "{{subjectClass.auto_id}}"
        };
        searchSV(data);
    }

    $(document).ready(function(){

      var data = {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "class_code": "{{subjectClass.auto_id}}"
      };
      studentInClass(data);
      
      if('{{error}}'){
        $("#error-import-sv").modal('show');
      }

      $("#submit-import-sv").click(function(){
        var form = new FormData();
        form.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        form.append("file", $('#input-excel-sv')[0].files[0]);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'import_students_to_subject_api' subjectClass.auto_id %}", true);
        xhr.responseType = "blob";
        xhr.onload = function(event) {
          var blob = xhr.response;
          var link = $("#download-response");
          link.attr("href", window.URL.createObjectURL(blob));
          link.attr("download", "error.xlsx");
          $("#import-st-to-class-modal").modal('show');
          studentInClass(data)
        };
        xhr.send(form);
        });
    
      $('#search').keyup(function(){
        var query = $(this).val();
        var data = {
          "student_code":query,
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "class_code": "{{subjectClass.auto_id}}"
        };
        searchSV(data);
      });
      $('#search_sv_in_class').keyup(function(){
        var query = $(this).val();
        
        var data = {
          "student_code":query,
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "class_code": "{{subjectClass.auto_id}}"};
        studentInClass(data);
        
      });
    });

  </script>
{% endblock js %}


