{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin lớp học</title>
{% endblock title %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/diem_danh.css' %}">
{% endblock css %}

{% block main-content %}

<div class="row" id="box-attendance">
    <div class="col-11 m-auto content-attendance">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Điểm danh</h1>
        <a id="export" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file-export fa-sm text-white-50"></i> Xuất file excel</a>
        <a data-toggle="modal" data-target="#attendanceModals" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Tạo mới điểm danh</a>
    </div>
    <div style="width:100%; overflow-x: auto;"  id="table-attendance">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="min-width: 230px;">
              <div class="get-text">Họ và tên </div>
            </th>
            <th style="min-width: 140px;">
              <div class="get-text">Mã sinh viên</div>
            </th>
            <th style="min-width: 140px;">
              <div class="get-text">Lớp</div>
            </th>
            {% for item in attendanceTimeAndImgs %}
              <th onclick="changeDate('{{item.date | date:'d/m/Y  H:i:s.u'}}')" style="min-width: 75px;">
                <div class="dropdown-toggle dropdown-toggle-split get-text" data-toggle="dropdown">{{item.date | date:'d/m/Y'}} </div>
                <div class="dropdown-menu" style="min-width:120px">
                  <a class="dropdown-item bg-white" data-toggle="modal" data-target="#deleteModal">
                    <span style="margin-right: 5px" class="icon text-danger">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text-danger">Xóa</span>
                  </a>
                  <a id="history-btn" data-toggle="modal" data-target="#history" class="dropdown-item" onClick="changeHistory({{item.to_dict}})">Chi tiết</a>
                </div>
              </th>
            {% endfor %}
            <th style="min-width: 140px;">
              <div class="get-text">Điểm</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in studentInSubjectClass %}
            <tr>
              <td style="max-width: 200px;"><a class="avatar-sv" href="{%url 'student_detail' item.student_code.student_code %}"><div class="face-student" style="background-image: url('{{item.student_code.imageUrl}}')"></div> 
                {{item.student_code.full_name}}</a></td>
              <td style="max-width: 140px;">{{item.student_code.student_code}}</td>
              <td style="max-width: 120px;">{{item.student_code.class_name}}</td>
              {% for date in attendanceTimeAndImgs %}
                  {% for attendance in attendances %}
                    {% if attendance.date_time == date.date and attendance.student_code == item.student_code %}
                      {% if attendance.is_present == '1' %}
                        <td><input type="checkbox" checked='false' onChange="onChangeAttenDance({{attendance.auto_id}}, this.checked)"></td>
                      {% else %}
                        <td><input type="checkbox" onChange="onChangeAttenDance({{attendance.auto_id}}, this.checked)"></td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              {% endfor %}
              <td style="max-width: 120px;" id="code_{{item.student_code.student_code}}"></td>
            </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
</div>
</div>

<div class ="tien-trinh-hoc-tap">

  <h3>Học tập</h3>

  <div id="accordion">
    {% autoescape off %}
    {% for learn in learns %}
    <div class="card face-card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#c{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}">
          {{ learn.created_at|date:"d/m/Y | H:i:s" }} - {{ learn.title }}
        </a>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-v fa-sm"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-post" onClick="editLearn({{ learn.auto_id }})">Sửa</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModalLearn" onClick="changeIdLearn({{ learn.auto_id }})">Xóa</a>
          </div>
        </div>
      </div>
      <div id="c{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class ="content-learn">{{ learn.content|safe }}</div>
          <div class="file-uploaded">
            <h6>Tài liệu</h6>
            <div class="list-file-uploaded">
            {% for pathFileLearning in pathFileLearnings %}
            {% if pathFileLearning.learning.auto_id == learn.auto_id %}
                <a href="{{ pathFileLearning.path }}" target="_blank">{{ pathFileLearning.name }}</a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endautoescape %}
  </div>

  <button type="button" class="btn btn-primary" id="addLearn" data-toggle="modal" data-target="#modal-post">
    Thêm ghi chú học tập <i class="fa-solid fa-plus fa-sm" style="color: #FFFFFF;"></i>
  </button>

</div>

<div class="warning-student">
  <div class="d-flex align-items-center" style="height: 80px;">
    <h1 class="sv-nghi-nhieu m-0">Cảnh báo nghỉ</h1> 
    <input onChange="createTableWarning()" class="mx-2" type="number" id="warning-number" value="2" min="1" max="10">
    <h1 class="sv-nghi-nhieu m-0">buổi trở nên</h1></div>
  <table class="table table-bordered" id="sv-nghi-nhieu">
    <thead>
      <tr>
        <th>Họ và tên</th>
        <th>Mã sinh viên</th>
        <th>Lớp</th>
        <th>Ngày sinh</th>
        <th>SĐT</th>
        <th>Email</th>
        <th id="svs" data="" data-toggle="modal" data-target="#send-email-modals"><span>Cảnh báo </span>
          <i class="fa-solid fa-envelopes-bulk"></i>
        </th>
      </tr>
    </thead>
    <tbody id="body-warning-student-table">
     
    </tbody>
</table>
</div>

<div class="modal fade" id="send-email-modals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gmail cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="send_mail_api" id="modal-sendmail">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tiêu đề:</label>
            <input type="text" class="form-control" id="recipient-name" value="Cảnh báo thái độ học tập">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Nội dung:</label>
            <textarea class="form-control" id="message-text" >Bạn đã nghỉ quá số buổi cho phép của môn học <span style="color: rgb(224, 62, 45);">"{{subjectClass.class_name}}"</span>.
              <p>Bạn bị cấm thi</p>
            </textarea>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Người nhận:</label>
            <input disabled type="email" class="form-control" id="email-send" value="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button onclick="sendmail()" id="send-mail" type="button" class="btn btn-primary">Gửi mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="attendanceModals" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Điểm danh bằng hình ảnh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="form-upload-img" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
            <label for="images">Chọn bức ảnh:</label>
            <input id="input-imgs-upload" type="file" class="form-control" accept=".png,.jpg" name="image">
            </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit-upload" type="submit" class="btn btn-primary">Upload Images</button>
        </div>
    </div>
    </div>
    
</div>

<div class="modal fade" id="modalloading" tabindex="-1"  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center flex-column" role="document">
    <svg class="rf-spinner__spinner" width="100%" height="100%" viewBox="0 0 200 200" 
    preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <linearGradient id="spinner-1683742502510" x1="0%" y1="0%" x2="65%" y2="0%">
          <stop offset="0%" class="Spinner-blue-wL0"></stop>
          <stop offset="100%" class="Spinner-blue-wL0" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <circle cx="100" cy="100" r="90" fill="transparent" stroke="url(#spinner-1683742502510)" stroke-width="20"></circle>
    </svg>
  </div>
</div>
<div class="modal" id="l2" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center flex-column" role="document">
    <svg class="rf-spinner__spinner" width="100%" height="100%" viewBox="0 0 200 200" 
    preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <linearGradient id="spinner-2" x1="0%" y1="0%" x2="65%" y2="0%">
          <stop offset="0%" class="Spinner-blue-wL0"></stop>
          <stop offset="100%" class="Spinner-blue-wL0" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <circle cx="100" cy="100" r="90" fill="transparent" stroke="url(#spinner-2)" stroke-width="20"></circle>
    </svg>
  </div>
</div>
<div class="modal" id="responseAttendance" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Kết quả điểm danh</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
      </div>
      <div class="modal-body">
        <img id="img-response" src="" alt="" style="width: 100%;">
        <p id="response-text">Danh sách sinh viên và kết quả điểm danh</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="max-width: 200px;">Họ và tên</th>
              <th style="max-width: 140px;">Mã sinh viên</th>
              <th style="max-width: 120px;">Lớp</th>
              <th style="max-width: 120px;">Kết quả</th>
            </tr>
          </thead>
          <tbody id="response-table">
            {% for item in studentInSubjectClass %}
            <tr>
              <td style="max-width: 200px;"><a class="avatar-sv" href="{%url 'student_detail' item.student_code.student_code %}"><div class="face-student" style="background-image: url('{{item.student_code.imageUrl}}')"></div> 
                {{item.student_code.full_name}}</a></td>
              <td style="max-width: 140px;">{{item.student_code.student_code}}</td>
              <td style="max-width: 120px;">{{item.student_code.class_name}}</td>
              <td id="{{item.student_code.student_code}}" style="max-width: 120px;"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Bỏ qua</button>
      <button id="submit-save-attendance" type="submit" class="btn btn-primary">Lưu lại</button>
      </div>
  </div>
  </div>
  
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa dữ liệu này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        <a onClick="deleteAttendance()" type="button" class="btn btn-danger" id="deleteBtn">Đồng ý</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModalLearn" tabindex="-1" role="dialog" aria-labelledby="deleteModalLearnLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLearnLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa dữ liệu này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
        <a onClick="deleteLearn()" type="button" class="btn btn-danger" id="deleteLearn">Đồng ý</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="history">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Lịch sử điểm danh</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body d-flex flex-column">
        <p class="label-title">Ảnh</p>
        <img id="img-history" src="/attendance/images/hoc-django.jpg" alt="VNUA">
        <p class="label-title">Thời gian</p>
        <p id="time-history" class="content-history">10-10-2023 10h20p33s</p>
        <p class="label-title">Người tạo</p>
        <p id="creator-history" class="content-history">Nguyễn Văn A</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal" id="modal-post">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nội dung buổi học</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Tiêu đề:</label>
          <input type="text" name="title" id="title" required>
        </div>
        <input type="text" hidden name="auto_id" id="auto_id" required>
        <div class="form-group">
          <label for="content">Nội dung:</label>
          <textarea name="content" id="content" required></textarea>
        </div>
        <div class="form-group">
          <label for="file">Tệp đính kèm:</label>
          <div class="file-edit"></div>
          <input type="file" name="file" id="file" multiple>
        </div>
        <div>
          <button type="submit" id="learning">Lưu</button>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

{% endblock main-content %}

{% block js %}
<script src="{%static 'js/tinymce/tinymce.min.js'%}"></script>
<script>
  tinymce.init({
      selector: 'textarea', // trỏ đến thẻ textarea
      plugins: 'accordion advlist anchor autolink autoresize autosave code\
      codesample charmap directionality emoticons fullscreen help, image \
      insertdatetime link lists media nonbreaking pagebreak preview save searchreplace\
      table template visualblocks visualchars wordcount',
      toolbar_mode: 'floating', // thanh toolbar nổi
      // tắt tinyMCE logo góc dưới bên phải
      branding: false,
  });
</script>
<script>
  var dataTable = [];
  var resData = [];
  var date = new Date();
  var idLearn = 0;
  
  function changeIdLearn(id){
    this.idLearn = id;
  }
  function changeDate(dateRequest){
    this.date = dateRequest;
  }
  function deleteAttendance(){
    var modalDelete = $('#deleteModal');
    var modalloading = $('#modalloading');
    modalDelete.modal('hide');
    modalloading.modal('show');
    var data = {
      'datetime': this.date,
      'subjectClass': {{subjectClass.auto_id}}
    }

    $.ajax({
      url: "{% url 'delete_attendance_api' %}" + '?' + $.param(data),
      type: 'DELETE',
      headers: {
        "X-CSRFToken": "{{ csrf_token }}"
      },
      success: function (data) {
        if (data.code == 200)
        location.reload();
        else{
          alert(data.message);
          modalloading.modal('hide');
        }
      },
      error: function (data) {
        modalloading.modal('hide');
        alert(data.message);
      }, completed: function(){
        modalloading.modal('hide');
      }
    });
    
  }
  function changeData(resData, index, value){
    this.resData = resData;
    var is_present = '0';
    if(value){
      is_present = '1';
    }
    this.resData[index].is_present = is_present;
  }
  function onChangeAttenDance(id, value){
    var mdp = $("#l2");
    mdp.modal('show');
    var is_present = '0';
    if(value){
      is_present = '1';
    }
    var data = {
      'attendance_id': id,
      'is_present': is_present,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    };

    if(id != null && id != undefined && id != ''){
      $.ajax({
        url: "{% url 'update_attendance_api' %}",
        type: "POST",
        data: data,
        success: function (data) {
          if (typeof data === 'string' && data.includes("<!DOCTYPE html>")) {
            window.location.reload();
          }
          if(data.code == 200){
            
          }
        }, error: function (data) {
        }, complete: function(){
          setTimeout(function(){
            statistical();
            mdp.modal('hide');
          }, 200);
        }
      });
    }
  }

  function statistical(){
    var auto_id = '{{subjectClass.auto_id}}';
    var data = {
      'subjectClass': auto_id,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    };

    $.ajax({
      url: "{% url 'statistical_api' %}",
      type: "POST",
      data: data,
      success: function (response) {
        if (typeof response === 'string' && response.includes("<!DOCTYPE html>")) {
          window.location.reload();
        }
        if(response.code == 200){
          for(let i = 0; i < response.result.length; i++){
            let item = response.result[i];
            $("#code_" + item.student_code.student_code).text(item.percent);
            dataTable = response.result;
            createTableWarning();
          }
          
        }
        else {
          console.log(response);
        }
      }, error: function (xhr, textStatus, errorThrown) {
        console.log(xhr);
        if (xhr.status === 403) {
          // CSRF token hết hạn, chuyển hướng tới trang login
          window.location.href = "/admin/login";
        } else {
          // Xử lý lỗi khác nếu cần
        }
          
      }, complete: function(){
      }
    });
  }

  function changeHistory(dataHis){
    $("#img-history").attr("src", dataHis.path);
    $("#time-history").text(dataHis.date);
    $("#creator-history").text(dataHis.created_by);
  }

  function editLearn(idL){
    {% for learn in learns %}
      if({{learn.auto_id }}== idL){
        tinymce.get('content').setContent(`{{learn.content|safe}}`);
        $("#title").val("{{learn.title}}");
        $("#auto_id").val("{{learn.auto_id}}");
        var html = '';
        {% for pathFileLearning in pathFileLearnings %}
        if("{{ pathFileLearning.learning.auto_id }}" == idL){
          html += `<a onClick="deleteDocument('/api/document-delete/{{pathFileLearning.auto_id}}')" target="_blank">{{ pathFileLearning.name }}</a>`;
        }
        // Trim html 
        html = $.trim(html);
        $(".file-edit").html(html);
        {% endfor %}
      }
    {% endfor %}
  }

  function deleteDocument(url){
    var modalloading = $('#modalloading');
    modalloading.modal('show');
    $.ajax({
      url: url,
      type: 'DELETE',
      headers: {
        "X-CSRFToken": "{{ csrf_token }}"
      },
      success: function (data) {
        if (data.code == 200)
        location.reload();
        else{
          alert(data.message);
          modalloading.modal('hide');
        }
      },
      error: function (data) {
        modalloading.modal('hide');
        alert(data.message);
      }, completed: function(){
        modalloading.modal('hide');
      }
    });
  }

  $(document).ready(function(){
    // modal
    var modalloading = $('#modalloading');
    var modalAttendance = $('#attendanceModals');
    var modalResponseAttendance = $('#responseAttendance');
    modalloading.modal('hide');

    $(".list-file-uploaded").each(function(){
      if($.trim($(this).html()) == ''){
        $(this).parent().css('display', 'none');
      }
    });

    $("#addLearn").on('click', function(){
      tinymce.get('content').setContent('');
      $("#title").val('');
      $("#auto_id").val('');
    });

    // event click
    $("#submit-upload").click(function(){
      modalAttendance.modal('hide');
      modalloading.modal('show');

      let csrf_token = $("input[name=csrfmiddlewaretoken]").val();
      let form_data = new FormData();
      let files = $('#input-imgs-upload')[0].files[0];
      let class_code = '{{ subjectClass.auto_id }}';
      form_data.append('image', files);
      form_data.append('csrfmiddlewaretoken', csrf_token);
      form_data.append('class_code', class_code);

      $.ajax({
        url: "{% url 'attendances_api' %}",
        type: "POST",
        data: form_data,
        contentType: false,
        processData: false,
        success: function(response){
          modalloading.modal('hide');
          if(response.code == 200){
            resData = response.result;
            $("#img-response").attr("src", response.desc);
            
            for(let i = 0; i < resData.length; i++){
              var html = `<input type="checkbox" onChange="changeData(resData,${i},this.checked)">`;
              let student_code = resData[i].student_code.student_code;
              let status = resData[i].is_present;
              if(status == '1'){
                html = `<input type="checkbox" onChange="changeData(resData,${i},this.checked)" checked>`;
              }
              $('#' + student_code).html(html);
            }
            modalResponseAttendance.modal('show');
          }
          else{
            alert(response.desc);
          }
        }, error: function(response){
            modalloading.modal('hide');
            alert('Có lỗi xảy ra, vui lòng thử lại sau');
        }
      });
    });

    $("#submit-save-attendance").click(function(){
      modalResponseAttendance.modal('hide');
      modalloading.modal('show');

      let csrf_token = $("input[name=csrfmiddlewaretoken]").val();
      let class_code = '{{ subjectClass.auto_id }}';
      let data = JSON.stringify(resData);
      $.ajax({
        url: "{% url 'save_attendance_api' %}",
        type: "POST",
        data: {
          'csrfmiddlewaretoken': csrf_token,
          'attendances': data
        },
        success: function(response){
          modalloading.modal('hide');
          if(response.code == 200){
            location.reload();
          }
          else{
            alert(response.desc);
          }
        }, error: function(response){
            modalloading.modal('hide');
            alert('Có lỗi xảy ra, vui lòng thử lại sau');
        }
      });
    });

    $("input[type=checkbox]").on('click',function(){
      let value = $(this).is(':checked');
      if (value == true) {
        $(this).attr('checked', 'checked');
      } else {
        $(this).removeAttr('checked');
      }
    });

    $("#export").click(function(){
      var html = $("#table-attendance").html();
      var form = $('<form></form>').attr('action', "{% url 'export' %}").attr('method', 'post');
      form.append($('<input></input>').attr('type', 'hidden').attr('name', 'csrfmiddlewaretoken').attr('value', '{{ csrf_token }}'));
      form.append($('<input></input>').attr('type', 'hidden').attr('name', 'html').attr('value', html));
      form.appendTo('body').submit().remove();
    });
    $("#svs").on('click', function(){
      $("#email-send").val($(this).attr('data'));
    })
    statistical();

    $("#learning").on('click', function(){
      var formData = new FormData();
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      formData.append('title', $("#title").val());
      formData.append('auto_id', $("#auto_id").val());
      formData.append('content', tinymce.get('content').getContent());

      if($("#file")[0].files.length != 0){
        for(let i = 0; i < $("#file")[0].files.length; i++){
          formData.append('file', $("#file")[0].files[i]);
        }
      }

      $.ajax({
        url: "{% url 'learn_create_api' subjectClass.auto_id %}",
        type: "POST",
        data: formData,
        contentType: false,
        processData: false,
        success: function(response){
          if(response.code == 200){
            alert('Cập nhật thành công');
            $("#title").val("");
            $("#auto_id").val("");
            tinymce.get('content').setContent("");
            location.reload();
          }
          else{
            alert(response.desc);
          }
        }, error: function(response){
            alert('Có lỗi xảy ra, vui lòng thử lại sau');
        }
      });

    })
  });

  function sendmail(){
    var modalSendmail = $('#send-email-modals');
    var modalloading = $('#modalloading');
    modalSendmail.modal('hide');
    modalloading.modal('show');
    let csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    let class_code = '{{ subjectClass.auto_id }}';
    $.ajax({
      url: "{% url 'send_mail_api' %}",
      type: "POST",
      data: {
        'csrfmiddlewaretoken': csrf_token,
        'subject': $("#recipient-name").val(),
        'message': tinymce.get('message-text').getContent(),
        'recipient': $("#email-send").val(),
      },
      success: function(response){
        modalloading.modal('hide');
        if(response.code == 200){
          alert('Gửi mail thành công');
        }
        else{
          alert(response.desc);
        }
      }, error: function(response){
          modalloading.modal('hide');
          alert('Có lỗi xảy ra, vui lòng thử lại sau');
      }
    });
  }

  function createTableWarning(){
    var html = '';
    var lstMail = '';
    number= $('#warning-number').val();
    for(let i = 0; i < dataTable.length; i++){
      let item = dataTable[i];
      if(item.lose >= number){
        html += `<tr>
          <td style="max-width: 200px;"><a class="avatar-sv" href="/admin/students/${item.student_code.student_code}"><div class="face-student" style="background-image: url('${item.student_code.avatar}')"></div> 
            ${item.student_code.full_name}</a>
          </td>
          <td>${item.student_code.student_code}</td>
          <td>${item.student_code.class_name}</td>
          <td>${item.student_code.birth_date}</td>
          <td>${item.student_code.phone}</td>
          <td>${item.student_code.email}</td>
          <td onClick="changeMail('${item.student_code.email}')" class="position-relative" data-toggle="modal" data-target="#send-email-modals">
            <i class="fa-solid fa-envelope position-absolute" 
            style="color: #e74a3b; font-size: 24px; top: 50%; left: 50%; transform: translate(-50%, -50%)"></i>
          </tr>`;
          lstMail += item.student_code.email + ' ';
      }
    }
    $("#svs").attr("data", lstMail);
      $("#body-warning-student-table").html(html);
  }

  function changeMail(email){
    $("#email-send").val(email);
  }

  function deleteLearn(){
    let csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    $.ajax({
      url: "/api/learn-delete/" + this.idLearn,
      type: "POST",
      data: {
        'csrfmiddlewaretoken': csrf_token,
      },
      success: function(response){
        if(response.code == 200){
          location.reload();
        }
        else{
          alert(response.desc);
        }
      }, error: function(response){
          alert('Có lỗi xảy ra, vui lòng thử lại sau');
      }
    });
  }
  
</script>
{% endblock js %}
    




