{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin lớp học</title>
{% endblock title %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/diem_danh.css' %}">
{% endblock css %}

{% block main-content %}

<div class="row" id="box-attendance">
  <div class="col-11 m-auto content-attendance">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Điểm danh</h1>
      <a id="export" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file-export fa-sm text-white-50"></i> Xuất file excel</a>
      <a data-toggle="modal" data-target="#attendanceModals" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Tạo mới điểm danh</a>
  </div>
  <div style="width:100%; overflow-x: auto;"  id="table-attendance">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="min-width: 230px;">
            <div class="get-text">Họ và tên </div>
          </th>
          <th style="min-width: 140px;">
            <div class="get-text">Mã sinh viên</div>
          </th>
          <th style="min-width: 140px;">
            <div class="get-text">Lớp</div>
          </th>
          {% for item in attendanceTimeAndImgs %}
            <th onclick="changeDate('{{item.date | date:'d/m/Y  H:i:s.u'}}')" style="min-width: 75px;">
              <div class="dropdown-toggle dropdown-toggle-split get-text" data-toggle="dropdown">{{item.date | date:'d/m/Y'}} </div>
              <div class="dropdown-menu" style="min-width:120px">
                <a id="history-btn" data-toggle="modal" data-target="#history" class="dropdown-item" onClick="changeHistory({{item.to_dict}})">Chi tiết</a>
              </div>
            </th>
          {% endfor %}
          <th style="min-width: 140px;">
            <div class="get-text">Điểm</div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for item in studentInSubjectClass %}
          <tr>
            <td style="max-width: 200px;"><a class="avatar-sv"><div class="face-student" style="background-image: url('{{item.student_code.imageUrl}}')"></div> 
              {{item.student_code.full_name}}</a></td>
            <td style="max-width: 140px;">{{item.student_code.student_code}}</td>
            <td style="max-width: 120px;">{{item.student_code.class_name}}</td>
            {% for date in attendanceTimeAndImgs %}
                {% for attendance in attendances %}
                  {% if attendance.date_time == date.date and attendance.student_code == item.student_code %}
                    {% if attendance.is_present == '1' %}
                      <td><input type="checkbox" disabled checked='false'></td>
                    {% else %}
                      <td><input type="checkbox" disabled></td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endfor %}
            <td style="max-width: 120px;" id="code_{{item.student_code.student_code}}"></td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
</div>

<div class ="tien-trinh-hoc-tap">

  <h3>Học tập</h3>

  <div id="accordion">
    {% autoescape off %}
    {% for learn in learns %}
    <div class="card face-card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#c{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}">
          {{ learn.created_at|date:"d/m/Y | H:i:s" }} - {{ learn.title }}
        </a>
      </div>
      <div id="c{{ learn.created_at|date:"d-m-Y-H-i-s-u" }}" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class ="content-learn">{{ learn.content|safe }}</div>
          <div class="file-uploaded">
            <h6>Tài liệu</h6>
            <div class="list-file-uploaded">
            {% for pathFileLearning in pathFileLearnings %}
            {% if pathFileLearning.learning.auto_id == learn.auto_id %}
                <a href="{{ pathFileLearning.path }}" target="_blank">{{ pathFileLearning.name }}</a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endautoescape %}
  </div>

</div>

<div class="modal fade" id="history">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Lịch sử điểm danh</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body d-flex flex-column">
        <p class="label-title">Ảnh</p>
        <img id="img-history" src="/attendance/images/hoc-django.jpg" alt="VNUA">
        <p class="label-title">Thời gian</p>
        <p id="time-history" class="content-history">10-10-2023 10h20p33s</p>
        <p class="label-title">Người tạo</p>
        <p id="creator-history" class="content-history">Nguyễn Văn A</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
      
    </div>
  </div>
</div>

{% endblock main-content %}

{% block js %}
  <script>
    var date = new Date();
    function changeDate(dateRequest){
      this.date = dateRequest;
    }
    function changeHistory(dataHis){
      $("#img-history").attr("src", dataHis.path);
      $("#time-history").text(dataHis.date);
      $("#creator-history").text(dataHis.created_by);
    }
    function statistical(){
      var auto_id = '{{subjectClass.auto_id}}';
      var data = {
        'subjectClass': auto_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      };

      $.ajax({
        url: "{% url 'statistical_api' %}",
        type: "POST",
        data: data,
        success: function (response) {
          if (typeof response === 'string' && response.includes("<!DOCTYPE html>")) {
            //window.location.reload();
          }
          if(response.code == 200){
            for(let i = 0; i < response.result.length; i++){
              let item = response.result[i];
              $("#code_" + item.student_code.student_code).text(item.percent);
            }
          }
          else {

          }
        }, error: function (xhr, textStatus, errorThrown) {
          console.log(xhr);
          if (xhr.status === 403) {

            window.location.href = "/admin/login";
          } else {
          }
            
        }, complete: function(){
        }
      });
    }

    $(document).ready(function(){
      statistical();
    })
    
  </script>
{% endblock js %}
    




