{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin sinh viên</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/student-detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightgallery.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
{% endblock css %}


{% block main-content %}

<div id="about-me">
    <div class="row">
        <div class="col-12 col-md-4 av-left">
            <div class="my-avatar">
                <div class="img-avatar" style="background-image: url('{{student.imageUrl}}')"></div>
                <h3 class="name-student">{{student.full_name}} </h3>
                
                <div class="group-info">
                    <div class="properties row">
                        <span class="label col-5">Mã sinh viên:</span>
                        <span class="value col-7">{{student.student_code}}</span>
                    </div>
                    <div class="properties row">
                        <span class="label col-5">Lớp:</span>
                        <span class="value col-7">{{student.class_name}}</span>
                    </div>
                    <div class="properties row">
                        <span class="label col-5">Ngày sinh:</span>
                        <span class="value col-7"  >{{student.birth_dateFm}}</span>
                    </div>
                    <div class="properties row">
                        <span class="label col-5">Số điện thoại:</span>
                        <a href="tel: {{student.phone}}" class="value col-7">{{student.phone}}</a>
                    </div>
                    <div class="properties row">
                        <span class="label col-5">Email:</span>
                        <a href="mailto: {{student.email}}" class="value col-7">{{student.email}}</a>
                    </div>
                    <div class="properties row">
                        <span class="label col-5">Địa chỉ:</span>
                        <span class="value col-7">{{student.address}}</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-8 av-right">
            <div class="content-av-right">

                <div class="menu-fixed">
                    <a href="{%url 'images_student' %}" class="item-menu-fixed">
                        <i class="fa-solid fa-image"></i>
                    </a>
                    <a href="{%url 'update_student'%}" class="item-menu-fixed">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>

                <div class="demo-gallery">
                    <ul id="lightgallery" class="list-unstyled row">
                        {% for image in studentImages %}
                        <li class="col-3" data-responsive="{{image.images.url}} 375, {{image.images.url}} 480, {{image.images.url}} 800" data-src="{{image.images.url}}" data-sub-html="<h4>{{student.full_name}} - {{student.student_code}}</h4><p>{{image.images.url}}</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
                            <a href="">
                                <img class="img-responsive" src="{{image.images.url}}" alt="Thumb-1">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <script src="{%static 'js/lg-rotate.js'%}"></script>
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
{% endblock js %}
    

