{% extends 'widgets/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin sinh viên</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/student_update.css' %}">
{% endblock css %}

{% block main-content %}

<div class="info-students row">
    <div class="col-12 col-md-10 m-auto">
        <form method="post" enctype="multipart/form-data" class="fm">
            {% csrf_token %}
        
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                
                <div class="avatar-container">
                  <img id="avatar-img" class="my-avatar" src="{% if student.avatar %}{{ student.avatar.url }} {% else %} {%static 'imgs/avatar.jpg'%} {% endif %}" alt="Avatar">
                  <input type="file" name="avatar" id="avatar" accept="image/*">
                </div>
                <label for="avatar" class="change-avatar-btn">Ảnh đại diện</label>
            </div>
            <!-- Input field for student code -->
            <div class="form-group row">
              <label for="student_code" class="col-3">Mã sinh viên:</label>
              <input disabled class="col-9" type="text" name="student_code" id="student_code" value="{{ student.student_code }}" required>
            </div>
            {% if errorStudentCode %}
              <div class="d-flex justify-content-end">
                <span class="text-danger" role="alert">
                  {{ errorStudentCode }}
                </span>
              </div>
            {% endif %}
          
            <!-- Input field for full name -->
            <div class="form-group row">
              <label for="full_name" class="col-3">Họ tên:</label>
              <input disabled class="col-9" type="text" name="full_name" id="full_name" value="{{ student.full_name }}" required>
            </div>
          
            <!-- Input field for class name -->
            <div class="form-group row">
              <label for="class_name" class="col-3">Lớp:</label>
              <input disabled class="col-9" type="text" name="class_name" id="class_name" value="{{ student.class_name }}" required>
            </div>
          
            <!-- Input field for birth date -->
            <div class="form-group row">
              <label for="birth_date" class="col-3">Ngày sinh:</label>
              <input disabled class="col-9" type="date" name="birth_date" id="birth_date" value="{{ student.birth_date|date:'Y-m-d' }}" required>
            </div>
          
            <!-- Input field for phone -->  
            <div class="form-group row">
              <label for="phone" class="col-3">SĐT:</label>
              <input class="col-9" maxlength="10" type="text" name="phone" id="phone" value="{{ student.phone }}" required>
            </div>
          
            <!-- Input field for email -->
            <div class="form-group row">
              <label for="email" class="col-3">Email:</label>
              <input class="col-9" type="email" name="email" id="email" value="{{ student.email }}" required>
            </div>
          
            <!-- Input field for address -->
            <div class="form-group row">
              <label for="address" class="col-3">Địa chỉ:</label>
              <input class="col-9" type="text" name="address" id="address" value="{{ student.address }}" required>
            </div>
        
            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Cập nhật</button>
              <a class="btn btn-primary" href="{%url 'home_student' %}">Quay lại</a>
            </div>
            
        </form>
    </div>
    
</div>


{% endblock main-content %}

{% block js %}
  <script>
    document.getElementById("avatar").addEventListener("change", function() {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById("avatar-img").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
      });

  </script>
{% endblock js %}
    

