.box-details {
    border: 1px solid #e5e5e5;
    padding: 30px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.ctn-sv-fm {
    margin: 40px auto;
    border: 1px solid #e5e5e5;
    padding: 30px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sv-in {
    border-right: 1px solid #e5e5e5;
}

.color-title {
    color: #4e73df;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.avatar-item {
    max-width: 40px !important;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.lst-student,
.lst-student-in-class {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 10px
}

.student-item {
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
    padding: 5px 0px;
    border: 1px solid #e5e5e5;
    align-items: center;
}

.student-item>div,
.student-item>button {
    margin: auto;
    font-size: 15px;
}

.hoten-item {
    font-weight: 600;
    color: #4e73df;
}

.cvx {
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-info>div.col-4 {
    margin-bottom: 20px;
}

.sv-not-in>ul.nav.nav-tabs {
    margin-bottom: 16px;
    border: none;
}

.sv-not-in>ul.nav.nav-tabs li {
    margin-right: 20px;
}

.sv-not-in>ul.nav.nav-tabs li a {
    font-size: 20px;
    color: #111;
}

.sv-not-in>ul.nav.nav-tabs li a:hover {
    text-decoration: none;
}

.sv-not-in>ul.nav.nav-tabs li a.active {
    font-weight: 600;
    color: #4e73df;
    border-bottom: 1px solid #4e73df;
}

#input-excel-sv {
    margin-bottom: 20px;
    height: 44px;
}

#download-response{
    display: block;
    padding: 9px 15px;
    background-color: #265bb5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}