#box-attendance{
    width: 100%;
    
}
div.content-attendance {
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.dropdown-toggle-split::after {
    margin-left: 10px !important;
}
tr{
    cursor: pointer
}
div.dropdown-menu{
    padding: 0px;
    border: 0px;
    border-radius: 5px;
}
.dropdown-menu > a{
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.dropdown-menu > a:hover{
    background: #c4d1f8 !important;
}
div.content-attendance>table {
    width: unset;
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
}

table>thead>tr {
    background: #4e73df;
    color: #fff;
    text-transform: uppercase
}

#btn-save {
    margin: 20px 0px 0px auto;
}

.avatar-sv {
    align-items: center;
    display: flex;
}

.face-student {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

input#input-imgs-upload.form-control {
    height: unset;
}

#attendanceModals>div>div>div.modal-header {
    background: #4e73df;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.avt-warning{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.box-warning,.info-warning{
    display: flex;
}
.warning-student{
    width: 91.66667%;
    margin: 50px auto 0px;
    overflow-x: auto;
}
.sv-nghi-nhieu{
    color: #e74a3b;
    font-size: 24px;
}
#sv-nghi-nhieu thead tr{
    background: #e74a3b;
    color: #fff;
}
img#img-history{
    height: 300px;
    width: auto;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
}
.label-title{
    font-size: 18px;
    margin-bottom: 10px;
    color: #4e73df;
}
.label-title:not(:first-child){
    margin-top: 20px;
}
.content-history{
    color: #111;
    font-size: 16px;    
}
.title-learn{
    font-size: 26px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;

}

.content-learn *{
    max-width: 100%;
}
.time-learn{
    margin-bottom: 20px;
}
.face-card{
    margin-bottom: 20px;
}
#accordion > div.card.face-card > div.card-header{
    border: none;
    display: flex;
    align-items: center;
}

.tien-trinh-hoc-tap{
    width: 91.66667%;
    margin: 50px auto 0px;
    overflow-x: auto;
}
#accordion{
    margin-top: 20px;
}
#addLearn{
    padding: 10px 15px;
    border-radius: 24px;
}
#addLearn i {
    margin-left: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
button#learning{
    padding: 10px 90px;
    border-radius: 5px;
    background-color: #4e73df;
    color: #FFFFFF;
    border: none;
}
.file-uploaded{
    padding-top: 20px;
    border-top: 1px dashed #4e73df;
}
.list-file-uploaded{
    display: flex;
    flex-wrap: wrap;

}
.list-file-uploaded a,
.file-edit a{
    margin: 10px 20px 20px 0px;
    color: #4e73df;
    display: inline-block;
    padding: 8px 28px 8px 28px;
    box-shadow: 0px 0px 2px 0px #ccc;
    border-radius: 40px;
}

.file-edit a::after{
    content: "\f55a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    margin-left: 10px;
    color: #e74a3b;
}
a[href="https://www.tiny.cloud/tinymce-self-hosted-premium-features/?utm_source=TinyMCE&utm_medium=SPAP&utm_campaign=SPAP&utm_id=editorreferral"],
.tox-promotion-link,
a.tox-promotion-link  {
    display: none !important;
}