.img-responsive{
    max-width: 100%;
    height: auto;
    max-height: 250px;
    overflow: hidden;
}
.item-img{
    padding: 8px !important;
    border:1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.form-delete-imgs{
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .4s;
    z-index: 99;
}
.item-img:hover > .form-delete-imgs{
    opacity: 1;
    bottom: 8px;
    transition: .4s;
}
.container-fluid{
    position: relative
}
#btn-showmodal-insert-img{
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index:1;
    box-shadow: 10px 10px 20px #666666;
}

#list-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#list-menu li {
    margin-right: 20px;
}

#list-menu li a{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

#list-menu li a.active{
    color: #007bff;
    font-weight: bold;
}