
.av-left * {
    color: #000000;
}

.av-right * {
    color: #020202;
}

#about-me>.row {
    height: 100%;
}

.my-avatar {
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.img-avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px #ccc;
}

.av-left {
    box-shadow: 0 0 20px #cac7c7;
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: calc(100vh - 173px);
    overflow-y: auto;
    padding-right: 0px !important;
}
.av-left::-webkit-scrollbar {
    display: none;
}

.av-right {
    width: 100%;
    height: 100%;
    padding-right: 15px;
}

.content-av-right {
    width: 100%;
    height: calc(100vh - 173px);
    border: 1px solid #ccc;
    position: relative;
    overflow-y: scroll;
}
/* scrollbar */
.content-av-right::-webkit-scrollbar {
    display: none;
}

.properties {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 7.5px 0px;
}

.name-student {
    color: black;
    margin: 25px 0px;
}

.properties>.label {
    font-weight: 700;
    color: #000;
    font-size: 1.1rem;
}

.properties:hover {
    cursor: pointer;
}

.import-anh{
    box-shadow: 0 0 20px #cac7c7;
}
.img-thumbnail{
    width: 200px;
    height: 200px;
}

img.img-responsive {
    width: 100%;
    height: auto;
}
#lightgallery{
    margin:0;
}
#lightgallery li{
    margin-bottom: 10px;
    padding: 0px 5px;
}
.impa{
    position: fixed;
    top: 94px;
    right: 5px;
    z-index: 1000;
}
.menu-fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 1000;
}
.fa-solid.fa-image{
    color: #265bb5;
    font-size: 22px;
}
.fa-solid.fa-pen-to-square{
    color: #ff0019;
    font-size: 22px;
}
.item-menu-fixed{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px #cac7c7;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
}
.item-menu-fixed:hover{
    background-color: #265bb5;
}
.item-menu-fixed:hover .fa-solid{
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .img-avatar {
        width: 100px;
        height: 100px;
    }
}