#tablesv {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

div.face-student {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* css th of table */
#tablesv th {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #4e73df;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.disabled a {
    color: #ccc;
    pointer-events: none;
    border-color: #ccc;
}

#tablesv>tbody tr:hover {
    background: #fcf0f0;
    cursor: pointer;
}

.searchBox {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.box-sbm {
    display: flex;
    justify-content: center;
}

.box-sbm button {
    margin: 15px 0px 0px 0px;
}

/* Center the modal vertically and horizontally */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add margin to the body so the modal doesn't cover the content */
.modal-open {
    overflow: hidden;
    margin-right: 17px;
}

/* Add a background overlay to the modal */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    background: #4e73df;
    color: #fff;
}


input[type="file"] {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    width: 200px;
    font-size: 16px;
    color: #333;
    height: 38px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 38px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
#tablesv > thead > tr > th:nth-child(7){
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#addSt{
    margin-left: auto;
    color: #4e73df;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .card-body{
        overflow-x: scroll;
    }
    div.face-student {
        width: 30px;
        height: 30px;
    }
    #tablesv th {
        font-size: 14px;
    }
    #form-search-pa > div.row > div.col-md-3{
        margin-bottom: 10px;
    }
    #content > div.container-fluid > div:nth-child(3){
        overflow-x: scroll;
    }
}