.fm {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px 50px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 16px;
}

.form-group input[type="file"] {
  margin-top: 10px;
}

.form-group button[type="submit"] {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.form-group button[type="submit"]:hover {
  background-color: #45a049;
}

.avatar-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-preview img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.change-avatar {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.change-avatar:hover {
  background-color: #45a049;
}
.my-avatar{
    max-width: 100%;
    width: 300px;
    height: auto
}
.avatar-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* css input disabled */
input:disabled{
  cursor: not-allowed;
  background-color: #f8f8f8 !important;
}

@media only screen and (max-width: 768px) {
    #avatar{
        width: 100%;
        margin-bottom: 10px;
    }
    .fm{
      padding: 20px 30px;
    }
    .my-avatar{
      max-height: 200px;
      width: auto;
    }
}