{% extends 'app/base.html' %}
{% load static %}
{% block title %}
    <title>{{ product.name }}</title>
{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>
                <p>Price: {{ product.price }}</p>
                <a href="{% url 'product' %}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
{% endblock main-content %}